.banner {
  color: white;
  object-fit: contain;
  height: 27rem;
}

.banner__contents {
  margin-left: 1.75rem;
  padding-top: 8rem;
  height: 12rem;
}

.banner__title {
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 30rem;
  height: 5rem;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner__fadeBottoms {
  height: 7.4rem;
  background: linear-gradient(180, transparent, rgba(37, 37, 37, 0.61), #111);
}
