.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1.25rem;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 15vh;
  margin-right: 0.5rem;
  transition: transform 0.45s;
}

.row__posterLarger {
  max-height: 25vh;
}

.row__posterLarger:hover {
  transform: scale(1.09);
}

.row__poster:hover {
  transform: scale(1.08);
}
